<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogFile="${tempdir}\nlog.log"
	  internalLogLevel="Warn"
>

  <variable name="msg4File" value="${longdate} [${level}] ${message} ${all-event-properties} ${exception:format=tostring}" />

  <targets>

    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              layout="${msg4File}"
              fileName="${tempdir}/Watermarker/logs/${processname}.${shortdate}.log"
              keepFileOpen="true"
              encoding="utf-8"
            />
    </target>
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
  
</nlog>