<?xml version="1.0" encoding="utf-8" ?>
<!-- CONSOLE SERVICE SETTINGS -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
		internalLogFile=".\nlog.log"
		internalLogLevel="Warn"
		>

  <variable name="varExceptionMsg" value="${exception:format=Message}"/>
  <variable name="varMessageWithException" value="${message}${onexception:inner= ${varExceptionMsg}}"/>
  <variable name="msg4Json" value='{"framework":"NLog", "processname":"${json-encode:inner=${processname}}", "version":"${json-encode:inner=${assembly-version}}", "machinename":"${json-encode:inner=${machinename}}", "threadid":"${json-encode:inner=${threadid}}", "threadname":"${json-encode:inner=${threadname}}", "basedir":"${json-encode:inner=${basedir}}", "logger":"${json-encode:inner=${logger:shortName=false}}", "windows_identity":"${json-encode:inner=${windows-identity:userName=true:domain=true}}", "counter":"${counter}", "date":"${json-encode:inner=${longdate}}", "level":"${json-encode:inner=${level}}", "message":"${json-encode:inner=${varMessageWithException}}" , "ex_type":"${json-encode:inner=${exception:format=Type}}", "ex_message":"${json-encode:inner=${varExceptionMsg}}", "ex_stack":"${json-encode:inner=${exception:format=StackTrace:maxInnerExceptionLevel=2:innerFormat=tostring}}"}'/>
  <variable name="msg4File" value="${longdate} [${pad:padding=-20::inner=${logger:shortName=true}}:${level}][T${threadid}${threadname}] ${varMessageWithException} ${onexception:inner=${newline}${exception:format=tostring:maxInnerExceptionLevel=2:innerFormat=tostring}}" />

  <targets>

    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              layout="${msg4File}"
              fileName="${basedir}/logs/${processname}.${shortdate}.log"
              keepFileOpen="true"
              encoding="utf-8"
            />
    </target>

    <target name="errorFile"
          xsi:type="File"
          layout="${msg4File}"
          fileName="${basedir}/logs/${processname}.${shortdate}-error.log"
          keepFileOpen="false"
          encoding="utf-8"
          />

	<target xsi:type="ColoredConsole"
          name="console"
          layout="${msg4File}"
          />

  </targets>
  
  <rules>
    <logger name="*" minlevel="Error" writeTo="errorFile"/>
    <logger name="*" minlevel="Trace" writeTo="file, console" />
  </rules>
  
</nlog>